{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="mw7 center ph3">
    <header class="mt4 w-100">
      {{ partial "social-share.html" . }}
      {{ with .Params.author | default .Site.Params.author }}
      <p class="tracked">
        {{ $.Render "by" }} <strong>
        {{- if reflect.IsSlice . -}}
            {{ delimit . ", " | markdownify }}
        {{- else -}}
            {{ . | markdownify }}
        {{- end -}}
        </strong>
      </p>
      {{ end }}

      {{/*
          Show "reading time" and "word count" but only if one of the following are true:
          1) A global config `params` value is set `show_reading_time = true`
          2) A section front matter value is set `show_reading_time = true`
          3) A page front matter value is set `show_reading_time = true`
        */}}
      {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
        <span class="f6 mv4 dib tracked"> - {{ i18n "readingTime" .ReadingTime }} </span>
        <span class="f6 mv4 dib tracked"> - {{ i18n "wordCount" .WordCount }} </span>
      {{ end }}
    </header>
    <div data-pagefind-body class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }}">
      <div class="tj">
        {{- .Content -}}
      </div>

      <h2>{{ T "ingredients" }}</h2>
      <ul>
      {{ range .Params.ingredients }}
        <li>{{ .amount }} {{ .name }}</li>
      {{ end }}
      </ul>

      <h2>{{ T "steps" }}</h2>
      <ol>
      {{ range .Params.steps }}
        <li>
            {{ .description }}
            {{- with $i := $.Page.Resources.Get .image }}
                {{- with $i.Resize "600x" }}
                    <img src="{{ .RelPermalink }}" class="w-100">
                {{- end }}
            {{- end }}
        </li>
      {{ end }}
      </ol>

      <div class="tj">
        {{- .Params.footer | .RenderString -}}
      </div>

      {{- partial "tags.html" . -}}
      {{ if .Site.Config.Services.Disqus.Shortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>

    {{- partial "related.html" . -}}

  </article>
{{ end }}
